<div class="landingpage ankerNoahKlein">
  <div class="container">
    <div class="jumbotron">
      <p>Hi, I’m Noah Klein. I write, produce & mix my own music and offer these services to other artists and companies as well.</p>
    </div>
  </div>
  <span class="learnMore">
    <button type="button" class="btn btn-secondary button .learnmore"><a href="#workwithme"><p>Learn More<p></a></button>
  </span>
  <div class="noahKleinSides">
    <div class="noah">
      <div class="container">
          <a href="mailto:noah@kollektivnordstadt.de">
          <ul>
            <li><h1><strong>N</strong></h1></li>
            <li><h1><strong>O</strong></h1></li>
            <li><h1><strong>A</strong></h1></li>
            <li><h1><strong>H</strong></h1></li>
          </ul>
        </a>
      </div>
    </div>
    <div class="klein">
      <div class="container">
        <a href="mailto:noah@kollektivnordstadt.de">
          <ul>
            <li><h1><strong>K</strong></h1></li>
            <li><h1><strong>L</strong></h1></li>
            <li><h1><strong>E</strong></h1></li>
            <li><h1><strong>I</strong></h1></li>
            <li><h1><strong>N</strong></h1></li>
          </ul>
        </a>
      </div>
    </div>
  </div>
</div>